#bath-and-talk {
  .bride {
    .picture {
      margin: 1rem 0 0;
    }

    .story-title {
      margin: 0.75rem 0 0;
    }
  }

  .groom {
    .picture {
      margin: 6rem 0 0;
    }

    .story-title {
      margin: 2rem 0 0;
    }
  }
}