body:not(.songbook) {
  background: url(../img/back.jpg);
  background-position: top center;
  background-repeat-x: no-repeat;
  background-size: contain;
}

.main {
  section {
    position: relative;
    overflow: hidden;

    // TEMP: Just for dev sake
    // &:nth-child(even) {
    //   background-color: transparentize(red, 0.95);
    // }

    .sides {
      @include outer-container;
      position: relative;
      text-align: center;
      padding: 7rem 1rem;
    }

    .bride, .groom {
      @include span-columns(6);
      padding: 1rem;
    }

    .bride {
      width: 40%;
      margin-right: 20%;

      @include media($mobile) {
        width: 95% !important;

        .story-title,
        .story-text {
          text-align: left;
        }
      }
    }

    .groom {
      width: 40%;

      @include media($mobile) {
        width: 95% !important;

        .story-title,
        .story-text {
          text-align: right;
        }
      }
    }

    .story-title {
      font-family: $font-sans-bold;
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }

    .story-text {
      font-family: $font-sans;
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
    }

    .picture {
      max-width: 100%;
    }

    .button {
      background: $yellow;
      border: 0;
      cursor: pointer;
      display: block;
      font-family: $font-sans-light;
      font-size: 1.35rem;
      margin: 1rem auto;
      padding: 0.5rem 0;
      text-align: center;
      text-transform: uppercase;
      width: 12rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}