#header {
  opacity: 0;
  position: fixed;
  transform: translate3d(0, -100%, 0);
  transition: 0.2s opacity ease-out, 0.2s transform ease-out;
  width: 100%;
  z-index: 1;

  &.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  #navigation-toggle {
    background: black;
    border-radius: 0.25rem;
    color: white;
    display: none;
    left: 50%;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-sans;
    text-transform: uppercase;

    @include media($tablet) {
      display: block;
    }
  }

  #navigation {
    background: black;
    border-radius: 0.5rem;
    color: white;
    font-family: $font-sans;
    font-size: 1.25rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;

    @include media($tablet) {
      text-align: center;
      min-width: 25rem;
      width: 60%;
      top: auto;
      bottom: -100%;
      opacity: 0;
      transition: 0.2s opacity ease-out;

      &.active {
        opacity: 1;
      }
    }

    @include media($mobile) {
      min-width: 0;
      width: 40%;
      bottom: auto;
      top: 7.5rem;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      padding: 0.5rem 0 0.5rem 1rem;

      @include media($mobile) {
        display: block;
        padding: 0.75rem !important;
      }

      &:not(:first-child) {
        padding: 0.5rem 0;

        &:before {
          content: '\00b7';
          display: block;
          float: left;
          margin: 0 1.5rem;

          @include media($mobile) {
            display: none;
          }
        }
      }

      &:last-child {
        padding: 0.5rem 1rem 0.5rem 0;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .bride {
    float: left;
    width: 50%;

    &:before {
      background: $yellow;
      border-radius: 50%;
      content: '';
      display: block;
      height: 10rem;
      left: -3rem;
      position: absolute;
      top: -3rem;
      width: 10rem;

      @include media($mobile) {
        left: -4rem;
        height: 9rem;
        width: 9rem;
      }
    }

    .header-name {
      background: transparentize(white, 0.35);
      border-bottom: 1px solid $yellow;
      display: block;
      font-family: $font-sans-bold;
      font-size: 1.5rem;
      padding: 1rem 0 1rem 10rem;
      text-transform: uppercase;

      @include media($mobile) {
        opacity: 0;
      }
    }

    .portrait {
      display: block;
      left: 0.5rem;
      position: absolute;

      @include media($mobile) {
        width: 5rem;
        left: 0;
      }
    }
  }

  .groom {
    width: 50%;
    float: left;

    &:before {
      background: $blue;
      border-radius: 50%;
      content: '';
      display: block;
      height: 10rem;
      right: -3rem;
      position: absolute;
      top: -3rem;
      width: 10rem;

      @include media($mobile) {
        right: -4rem;
        height: 9rem;
        width: 9rem;
      }
    }

    .header-name {
      background: transparentize(white, 0.35);
      border-bottom: 1px solid $blue;
      display: block;
      font-family: $font-sans-bold;
      font-size: 1.5rem;
      padding: 1rem 10rem 1rem 0;
      text-transform: uppercase;
      text-align: right;

      @include media($mobile) {
        opacity: 0;
      }
    }

    .portrait {
      position: absolute;
      right: 0.5rem;

      @include media($mobile) {
        width: 5rem;
        right: 0;
      }
    }
  }
}