#intro {
  background: url(/img/uniform-bg.jpg);

  &:after {
    background: url(/img/edge.svg);
    background-position: top;
    background-repeat-y: no-repeat;
    content: '';
    display: block;
    height: 10rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .title {
    font-family: $font-script;
    font-size: 11rem;
    font-weight: normal;
    margin: 4rem auto 0;
    text-align: center;
  }

  .subtitle {
    font-family: $font-sans-light;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;

    &:before {
      background: black;
      content: '';
      display: block;
      height: 0.25rem;
      margin: 0 auto 2rem;
      width: 5rem;
    }

    &:after {
      background: $yellow;
      content: '';
      display: block;
      height: 0.35rem;
      margin: 0.5rem auto 0;
      width: 20rem;
    }
  }

  .wedding-date {
    display: block;
    font-family: $font-sans;
    font-size: 3.5rem;
    text-align: center;
  }

  .intro-text {
    display: block;
    font-family: $font-sans-light;
    font-size: 1.5rem;
    text-align: center;
  }

  .bride-pic {
    position: absolute;
    top: 25%;
    left: -12rem;
    width: 42.5%;
  }

  .groom-pic {
    position: absolute;
    top: 25%;
    right: -12rem;
    width: 42.5%;
  }
}