#music {
  background: url(../img/musical-notes.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;

  @include media($mobile) {
    overflow: hidden;
  }

  .sides {
    position: initial;
  }

  .bride {
    .picture {
      width: auto;
      max-width: none;
      margin-left: -65rem;
      margin-top: -25rem;

      @include media($ipad-landscape) {
        margin-left: -70rem;
      }

      @include media($ipad-portrait) {
        margin-left: -75rem;
      }
    }
  }

  .groom {
    .story-text {
      margin: 30rem 0 0;
    }

    .picture {
      position: absolute;
      right: 0;
    }
  }
}