#rsvp {
  padding-top: 4rem;

  .title {
    font-family: $font-script;
    font-weight: normal;
    font-size: 11rem;
    margin: 0;
    text-align: center;

    @include media($mobile) {
      font-size: 7rem;
      line-height: 0.85;
    }

    &:after {
      background: black;
      content: '';
      display: block;
      height: 0.25rem;
      margin: 0 auto;
      width: 5rem;
    }

    .char11 {
      vertical-align: top;
      margin-left: -0.095em;
    }

    .char17 {
      vertical-align: top;
      margin-left: -0.038em;
    }

    .char18 {
      vertical-align: top;
      margin-left: -0.071em;
    }

    .char19 {
      vertical-align: top;
      margin-left: -0.005em;
    }

    .char20 {
      vertical-align: top;
    }
  }

  .subtitle {
    display: block;
    font-family: $font-sans-light;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 0.75;
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;

    @include media($mobile) {
      font-size: 2rem;
    }

    .highlight {
      display: block;
      font-family: $font-sans;
      font-size: 3rem;

      @include media($mobile) {
        font-size: 2.25rem;
      }

      &:before {
        background: $yellow;
        content: '';
        display: block;
        height: 0.35rem;
        margin: 1rem auto;
        width: 30rem;

        @include media($mobile) {
          width: 15rem;
        }
      }
    }
  }

  .story-text {
    max-width: 30rem;
    margin: 0 auto;
    transition: opacity 0.2s ease-out, height 0.5s ease-out;

    &.hidden {
      opacity: 0;
      height: 0;
    }
  }

  .confirm {
    width: 20rem;
    background: $blue;
    color: white;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out;

    &.visible {
      opacity: 1;
      height: auto;
      pointer-events: auto;
    }

    .icon-facebook {
      color: white;
    }
  }

  #rsvp-form {
    font-family: $font-sans-light;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    height: 0;
    transition: 0.2s opacity ease-out, 0.5s height ease-out;

    &.visible {
      opacity: 1;
      height: auto;
    }

    .full-name {
      display: block;
      margin: 1rem 0 0;

      @include media($mobile) {
        margin: 5rem 0 0;
        padding: 0 1rem;
      }

      input {
        display: block;
        height: 2.25rem;
        font-family: $font-sans-light;
        font-size: 1.5rem;
        margin: 0.5rem auto 1rem;
        text-align: center;
        width: 30rem;

        @include media($mobile) {
          width: 100%;
        }
      }
    }

    .button {
      -webkit-appearance: none;
      margin: 0 auto 10rem;
    }
  }
}