#sleeping-and-coding {
  .bride {
    .picture {
      margin: 4rem 0 0;
    }
  }

  &:after {
    background: url(../img/code-flies.png);
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
  }
}