#sleeping-and-coding {
  .sides {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

    .bride {
      width: 40%;
      margin-right: 20%;

      .picture {
        margin: 4rem 0 0;
      }
    }

    .groom {
      width: 40%;
    }
  }

  &:after {
    background: url(/img/code-flies.png);
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    width: 50%;
    z-index: -1;
  }
}