// Media queries
$mobile:            em(580);
$tablet:            em(900);
$ipad-portrait:     em(768);
$ipad-landscape:    em(1024);

// Fonts
$font-script:       'cheddar_jackregular', serif;
$font-sans:         'josefin_sansregular', serif;
$font-sans-light:   'josefin_sanslight', serif;
$font-sans-bold:    'josefin_sansbold', serif;

// Colors
$yellow:            #FCEE21;
$blue:              #0F7EDC;

// Neat vars
$default-feature:   max-width;