#we-meet {
  background: url(../img/ceet.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;

  .sides {
    .bride {
      margin-right: 10%;

      .picture {
        margin-top: 1rem;
      }
    }

    .groom {
      width: 50%;

      .picture {
        margin-top: 4rem;
      }
    }
  }
}